@model English_Learning_Website.Models.Story
@{
    ViewBag.Title = "DetailS";
    if (Session["User_Code"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<style>
    body {
        background-color: #FFEBCD;
    }
</style>
<div>
    <img src="~/Content/images/@Model.Story_banner" style="width: 100%; height: 65vh;" alt="Story Banner" />
</div>
<hr />
<h1 class="text-center" style="font-family:cursive;">@Model.Story_Name</h1>
<div>
        <pre id="English_Content" style="font-size: 18px; background-color: #FFEBCD; border: none; text-align: center; overflow-x: hidden;">

        </pre>
</div>
<hr />
<button style="padding:5px;background-color: #333333; color: white;  font-size: 16px; border: none;border-radius:16px;text-align:right;" onclick="myfunction()">Vietnamese Content</button>
<br />
<div>
        <pre id="Vietnamese_Content" style="font-size: 18px; margin-top: 0px; padding-top: 0px; background-color: #FFEBCD; border: none; text-align:center; overflow-x: hidden; " hidden>

        </pre>
</div>
<br />
<div>
    <audio style="width:100%;height:50px;" controls>
        <source src="~/Content/audio/@Model.Story_Audio" type="audio/mp3">
    </audio>
</div>
<div>
    @Html.ActionLink("Back", "User_View", "Story", new { @class = "btn btn-default" })
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#English_Content").load("/Content/txt/@Model.Story_Content_EN");
        $("#Vietnamese_Content").load("/Content/txt/@Model.Story_Content_VN");
    });
</script>
<script>
    function myfunction() {
        if (document.getElementById("Vietnamese_Content").hidden == true) {
            document.getElementById("Vietnamese_Content").hidden = false;
        }
        else {
            document.getElementById("Vietnamese_Content").hidden = true;
        }
    }
</script>

