@model English_Learning_Website.Models.Google
@{
    ViewBag.Title = "GoogleTranslate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GoogleTranslate</h2>
<hr />
@using (Html.BeginForm("GoogleTranslate", "GoogleTranslate", FormMethod.Post))
{
    <div>
        <label for="language" class="pull-left" style="padding:5px;">Please Select Language:</label>
        <label style="padding:5px;" class="pull-left"> | </label>
        <select name="checklanguage" id="checklanguage" class="form-control pull-left">
            @if (Session["checklanguage"].ToString() == "english")
            {
                <option value="english" selected>English - Vietnamese</option>
                <option value="vietnam">Vietnamese - English</option>
            }
            else
            {
                <option value="english">English - Vietnamese</option>
                <option value="vietnam" selected>Vietnamese - English</option>
            }
        </select>
    </div>
    <br />
    <br />
    <hr />
    <div class="row">
        <div class="column">
            <textarea name="content" id="content" rows="10" cols="30" placeholder="Enter text ..." class="form-control center-block" required>@Model.content</textarea>
        </div>
        <div class="column">
            <input type="submit" value="Translate" class="btn btn-primary center-block"/>
        </div>
        <div class="column">
            <textarea rows="10" cols="30" placeholder="Translation ..." class="form-control center-block">@Session["translate"].ToString()</textarea>
            <br />
            @Html.ActionLink("Voice", "Speech","GoogleTranslate", new { @class = "btn btn-default center-block", @style="width:17%;" })
        </div>
    </div>
}


