
@{
    ViewBag.Title = "Result DragDrop Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mydiv center-block">
    <h2 style="text-align:center;">Your Quiz Score : </h2>
    <hr />
    <h3 style="text-align:center;">@Session["DragDrop_Quiz_Score"] / 10</h3>
    @Html.ActionLink("Back","Choose_DragDrop_Quiz", "Quiz", new { @class = "btn btn-default", @style="width:100%;"})
</div>

